.footer {
    background-color: rgb(36, 10, 142);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
    padding: 2em;
    
}

.titulo {
    color: rgb(207, 229, 248);
    font-size: 1.5em;
}
 
.seccion1 {
    background-color: white ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.seccion2 img{
    width: 100%;
}

.Acerca-de {
    padding: 2em;
}

.Trabajos {
    justify-content: flex-start;
    padding: 1em;
    color: rgb(249, 204, 42);
    font-size: xx-large;
}

.seccion3 {
padding: 2em;
justify-content: center;
align-items: center;
display: flex;
}

.parte1 {
    padding: 2em;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parte1 img {
    border-radius: 2em;
    width: 400px;
    height: 400px;
}

.parte1 h3 {
    color: brown;
}

.parte1 p {
    text-align:left;
}

